<div class="wrapper homeFont">
  <div>
    <img src="../images/logo.png" alt="photo montage">
  </div>
  <a target="_self" class="hero-btn default homeFont" href="/auth"><div>Start a Super Fight!!!</div></a>
<br>
<div> coocookachew </div>
  <div class="login home">
    <input id="name" type="text" ng-model="user.name" placeholder="User Name">
    <input id="password" type="password" ng-model="user.password" placeholder="Password">
  <div>Choose your Champion!!</div>
  <div>Gotta fix the brakes on my bike</div>
<!--   need a button instead?-->
<!--    <a ui-sref="profile" ng-click="login(user.userName, user.password)">Login</a>-->
    <button ng-click="login(user)">Login</button>
  </div>
</div>
