.home {
  background-color: #191919;
  font-size: 2.5em;
  font-style: italic;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.homeFont {
  color:red;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
